@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  color: var(--text);
  background: var(--background);
}

:root {
  --background: #1b2627;
  --block: #283739;
  --layer: #202c2d;
  --button: #b2f35f;
  --text: rgb(238 238 238);
  --table: #1b2627;
}

.custom-border {
  border: 1px solid rgb(49 63 64);
}
